body {
  padding-top: 50px;
}

.material-icons.md-48 {
	font-size: 48px;
	padding-left: 1em;
	margin-top: 1em;
	color: steelblue;
}

.material-icons.md-24 {
	font-size: 24px;
	padding-left: .5em;
	color: green;
	opacity: .7;
}

.material-icons.md-24:hover {
	opacity: 1;
}

h3 {
	margin-top: .3em;
}