main {
	padding: 20px;
}

textarea {
	display: block;
	width: 100%;
	min-height: 100px;
	margin: 10px 0px;
	maxlength: 1000;
	overflow: auto;
	resize: vertical;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.form-buttons {
	margin-top: 20px;
	padding: 10px;
	width: 5%;
	margin: auto;
}

.form-button {
	display: inline-block;
	margin-right: 20px; 
}

