body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* capa que es posa per sobre de les altres i les desactiva */
#overlay {
	visibility: hidden;
	position: fixed;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: .5;
	background-color: white;
}

.footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #101010;
  border-top: 1px solid #eee;
  text-align: center;
}

.text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.error {
	color: red;
}

.gap {
	margin-top: 1em;
}

.link {
	cursor: pointer;
	color: steelblue;
}

.navbar-text {
	display: none;
}

@media (min-width: 768px) {
  .navbar-text {
  	display: inline;
  }
}
