main {
	padding: 20px;
}

.form-element {
	margin-bottom: 10px;
}

.form-label {
	display: inline-block;
	width: 150px;
}

.form-input {
	display: inline-block;
	width: 250px;
}

.form-buttons {
	display: inline;
	margin-top: 20px;
	margin-left: 150px;
	width: 5%;
}

.form-button {
}
