main {
	padding: 20px;
}

form {
	margin-top: 40px;
}

.form-element {
	margin-bottom: 10px;
}

.form-input {
	width: 100%;
}

.form-label {
	display: inline-block;
	width: 150px;
}

.form-buttons {
	margin-top: 1em;
/*	margin-left: 1em;*/
}

@media (min-width: 470px) {
	.form-buttons {
		margin-left: 150px;
	}
	.text-center {
		text-align: left;
	}
	.form-input {
		display: inline-block;
		width: 250px;
	}
}

.form-button {
}
